# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
inols.log
inols-err.log
inols-clangd-err.log
inols-clangd.log
/esp_hid_device/build
/ble_hid_device_demo/build
/ble_hid_device_ok/build
/ble_hid_device_ok/managed_components
/contactlist
/BLEPassMan/build
*.user
*.user
